* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  background-image: url('/src/img/makanan.jpg');
  display: block;
  padding: 0;
  margin: 0;

}
main {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
}
list-makanan {
  margin-top: 32px;
  width: 100%;
  padding: 16px;
}
footer{
  position: fixed;
  padding: 10px ;
  bottom: 0;
  width: 100%;
  background-color: brown;
  color: white;
  font-size: 20px;
  text-align: center;
}
